body{
    background-image: url('images.jpg');
    background-position: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;  
}
.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    font-size: 6.5rem;
    backdrop-filter:blur(5px) ;
    background-color:rgba(180, 179, 179,0.2);
    padding: 10px 10px;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}